# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

aws server
ssh -i ~/Downloads/rrsrch-labs.pem ubuntu@54.196.234.50

scp -i ~/Downloads/rrsrch-labs.pem -r dist/* ubuntu@54.196.234.50:/var/www/demetri.xyz/


local
cd demetri-website

